*{
    font-family: Arial, sans-serif;
}
.header-nav-flex-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.list-style{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-style li{
    list-style: none;
    margin-left: 25px;
}
/* SECTION-1 */
.section1-amazing-team{
    background-color: darkblue;
    text-align: center;
    padding:40px;
    /* font-family:'Roboto'; */
}
.heading-amazing-team-style{
    color:gold;
    font-size: 40px;
    margin: 0%;
    padding: 0%;
}
.para-style{
    color:white;
    margin:0%;
    padding:0%;
}
/* SECTION-2 */
.section2-container-style{
    padding:50px 0px 20px 50px;
}
.section-flex-div-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom: 20px;
}
.section2-image-div-style{
    background-color: grey;
    width:200px;
    text-align: center;
    padding-top: 10px;
}
.section2-heading-div-style{
    background-color: darkblue;
    margin-top:-4px;
    padding:10px 0px 10px 0px;
    text-align: center;
    color:white;
}
.section2-heading-div-style h3{
    margin:0%;
    
}
.section2-heading-div-style p{
    margin:5px 0px 0px 0px;
    padding:0%;
    font-size: 13px;
}
/* SECTION-3 */
.section3-container-style{
    background-color: black;
    padding:40px 0px 40px 0px;
}
.section3-div-flex-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.section3-div-flex-container a{
    text-decoration: none;
    color:white;
    background-color: orange;
    border-radius: 1px;
    border-width: opx;
    height:30px;
    width:120px;
    padding:5px 10px 5px 10px;
}
.section3-div-flex-container h3{
    margin:0px 0px 7px 20px;
    color:white;
}
/* FOOTER */
.footer-container-style{
    background-color: blue;
    padding:10px 0px 30px 0px;
    }
.footer-div-flex-container{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:30px;
}
 
 .footer-cntacts-us-div-style{
    color:white;
 }
 .footer-cntacts-us-div-style p{
    color:#ccc;
 }
 .footer-flex-card{
    display:flex;
    align-items: center;
    margin-bottom: 5px;

 }
 .footer-flex-card h4{
    margin:0%;
    padding:0%;
 }
 .footer-flex-card p{
    margin:0%;
    padding:0%;
 }
 .contacts-icon-style{
    background-color:rgba(0, 76, 255, 0.783);
    color:gold;
    padding:13px;
    border-radius: 50%;
     margin-right: 10px;
 }
 .our-services-style{
    margin-top:10px;
    color:white;
 }
 .services-flex-container{
    display:flex;
    color:#ccc;
 }
 .services-flex-container ul{
    margin:0px 20px 30px 0px;
    padding:0%;
    
 }
 .services-flex-container li{
    padding-top:10px;
    
 }
.services-flex-container i{
    color:gold;
    margin-right: 10px;
}
.offer-discount{
    border:1px  rgb(181, 178, 178);
    width:270px;
    height:160px;
    color:white;
    padding:20px 0px 0px 40px;
    margin-bottom:20px;
    border-style: dashed;
    
}
.offer-discount h2{
    margin:0%
   
}
.offer-discount p{
    margin-top: 40px;
}
.h4-style{
    margin:0%;
    padding-left: 50px;
}
.percent-style{
    font-size:55px;
    color:gold;

}
.code-style{
    color:gold;
}

